.board {
  display: grid;
  position: relative;
  z-index: 99;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
  height: 500px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  transition: z-index 1s ease, height 1s ease;
}

.board_tile {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  align-content: center;
  transition: all 1s ease;
  color: white;
  font-size: 0;
}

.remove-left-border {
  border-left: 1px solid transparent;
}

.remove-right-border {
  border-right: 1px solid transparent;
}

.remove-top-border {
  border-top: 1px solid transparent;
}

.remove-bottom-border {
  border-bottom: 1px solid transparent;
}

